{% extends "base_generic.html" %}
{%load static%}
{% block content %}
<div class="img-rounded" style="text-align:center;font-family:courier;background-color:gainsboro;margin-left:20%;margin-right:20%;padding-bottom:5%" >
  <h1><u>Group Members</u></h1> <div class="img-rounded" style="background-color:white;margin-left:5%;margin-right:5%;">
    <h2>Ankit Tapariya(071/BCT/506)</h2>
  <h2>Bishal Baaniya(071/BCT/513)</h2>
  <h2>Enish Paneru(071/BCT/517)</h2>
  <h2>Manoj Joshi(071/BCT/521)</h2></div>

</div>


{% endblock %}
