{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
			<li data-target="#myCarousel" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>The Best <span>Deals</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href="mens.html">Rent Now </a>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>Summer <span>Collection</span></h3>
						<p>New Arrivals On Sale</p>
						<a class="hvr-outline-out button2" href="mens.html">Rent Now </a>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>Spring <span>Collection</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href="mens.html">Rent Now </a>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3>Most <span>Demanded</span></h3>
						<p>New Arrivals On Sale</p>
						<a class="hvr-outline-out button2" href="mens.html">Rent Now </a>
					</div>
				</div>
			</div>
			<div class="item item5">
				<div class="container">
					<div class="carousel-caption">
						<h3>From our Best <span>Uploaders</span></h3>
						<p>Special for today</p>
						<a class="hvr-outline-out button2" href="mens.html">Rent Now </a>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
    </div>
	<!-- //banner -->
    <div class="banner_bottom_agile_info">
	    <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
    	           <a href="#">
						<figure class="effect-roxy">
							<img src="{% static 'images/5_girls.jpg' %}" alt=" " class="img-responsive" height = 300px width = 600px/>
							<figcaption>
								<h3><span>G</span>rab it with both hands</h3>
								<p>Fresh Uploads</p>
							</figcaption>
						</figure>
					</a>
					</div>

					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
					 <a href="#">
						<figure class="effect-roxy">
							<img src="{% static 'images/dont_sleep_upload.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>U</span>pload</h3>
								<p>Become a renter</p>
							</figcaption>
						</figure>
						</a>
					</div>
					<div class="clearfix"></div>
		    </div>
		 </div>
    </div>
	<!-- schedule-bottom -->
	<div class="schedule-bottom">
		<div class="col-md-6 agileinfo_schedule_bottom_left">
			<img src="{% static 'images/50percent.png' %}" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid">
				<h3>Save up to <span>50%</span> this week</h3>
				<p>Check out our best deals. Get heavy discounts.</p>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<h4>Customers</h4>
					<h5 class="counter">653</h5>
				</div>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-money" aria-hidden="true"></i>
					<h4>Transactions</h4>
					<h5 class="counter">1023</h5>
				</div>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<h4>today</h4>
					<h5 class="counter">18</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //schedule-bottom -->
  <!-- banner-bootom-w3-agileits -->
	<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">What's <span>Trending</span></h3>

		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="womens.html">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="{% static 'images/one_piece.jpg' %}" alt=" " class="img-responsive" height="510" width="620" />
							<figcaption>
								<h3><span>R</span>ent </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href="mens.html">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="{% static 'images/kurta.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>R</span>ent </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
		        </div>
				</a>
				<a href="mens.html">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/lehenga.jpg' %}" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>R</span>ent </h3>
								<p>Upto 35%</p>
							</figcaption>
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
	</div>
    </div>
<!--/grids-->
      <div class="agile_last_double_sectionw3ls">
            <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="womens.html"><img src="{% static 'images/4girls.png' %}" alt=" "><h4>Become  <span>new  </span> Everyday</h4></a>

			</div>
			 <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="womens.html"><img src="{% static 'images/new_year.jpg' %}" alt=" "><h4>New Year Special <span>50%</span> off</h4></a>
			</div>
			<div class="clearfix"></div>
	   </div>
<!--/grids-->
<!-- /new_arrivals -->
	<div class="new_arrivals_agile_w3ls_info">
		<div class="container">
		    <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
				<div id="horizontalTab">
					<div class="resp-tabs-container">
					<!--/tab_one-->
						<div class="tab1">
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="{% static 'images/m1.jpg' %}" alt="" class="pro-image-front">
										<img src="{% static 'images/m1.jpg' %}" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											<span class="product-new-top">New</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">Formal Blue Shirt</a></h4>
										<div class="info-product-price">
											<span class="item_price">$45.99</span
										</div>

									</div>
								</div>
							</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- //new_arrivals -->
	<!-- /we-offer -->
		<div class="sale-w3ls">
			<div class="container">
				<h6>Spread the Word <span>Become our affiliate</span> Now</h6>

				<a class="hvr-outline-out button2" href="single.html">Contact us </a>
			</div>
		</div>
	<!-- //we-offer -->
<!--/grids-->
{% endblock %}
